.menu-item {
    margin-right: 1em;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    font-family: "Comfortaa",sans-serif;
}

.brand {
    font-family: "Comfortaa",sans-serif;
}

.active a {
    span {
        background-image: linear-gradient(275deg ,#68ffd2,#5bb3ff);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.socials-item {
    background: linear-gradient(45deg, #00adff, #01ff1fbd);
    &:hover {
        background-color: hsl(90deg,87%, 72%);
    }
}

.home .poetry {
    max-width: 35em;
    p,li {
        text-align: left;
    }
}

.list-item-title {
    font-size: 1.02em !important;
}

.post-title {
    font-size: 1.35em !important;
}


.lntable, .highlight>pre, pre {
    max-height: none;
}

//start custom mermaid
.node rect, .node circle {
    fill: #1c0735 !important
}

.node .label {
    color: white !important;
}

.edgePath .path {
   stroke: #c874ff !important;
}

.arrowheadPath {
    fill: #c874ff !important;
}
//end custom mermaid
